.login{
    padding: 5em 0;
}

.sign-in-container{
    width: 30%;
    margin: 1rem;
    background-color: #E5E1DA;
    padding: 1% 2%;
}

.sign-in{
    display: flex;
    flex-direction: column;
    /* margin: 1em; */
}

.sign-in > *{
    margin: .5em;
}

@media (orientation: portrait){
    .sign-in-container{
        width: 90%;
    }
}