body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.sign-in-container{
    width: 30%;
    margin: 1rem;
    background-color: #E5E1DA;
    padding: 1% 2%;
}

.sign-in{
    display: flex;
    flex-direction: column;
}

form > *{
    margin: .5em;
}

@media (orientation: portrait){
    .sign-in-container{
        width: 90%;
    }
}